{% extends "index.html" %}
{% block title %}Grafik - Edycja pracownika{% endblock %}
    {% block content %}
    <h2>Edycja pracownika</h2>

    <div class="employee-details-box">
        <strong>{{ employee["name"] }} {{ employee["surname"] }}</strong>
        <br>
        <ul>
            <li class="employee-detail">
                <form method="post" action='{{ url_for('web.edit_employee_main_position', employee_id=employee['id']) }}'>
                    <strong>Stanowisko:</strong> 
                    <select name="main_position">
                        <option value="{{ employee['positions'] }}" selected>{{ employee['positions'] }}</option>
                        {%for position in positions %}
                            {% if position['name'] != employee['positions'] %}
                            <option value="{{ position['name'] }}">{{ position['name'] }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                    <button type="submit">Zapisz</button>
                </form></li>
            <li class="employee-detail">
                <form method="post" action='{{ url_for('web.edit_employee_active', employee_id=employee['id']) }}'>
                    <strong>Aktywny/a:</strong> <select name="active">
                        <option value="1" {% if employee['active'] == 1 %}selected{% endif %}>Tak</option>
                        <option value="0" {% if employee['active'] == 0 %}selected{% endif %}>Nie</option>
                    </select>
                    <button type="submit">Zapisz</button>
                </form>
            </li>
            <li class="employee-detail">
                <strong>Data dodania:</strong> {{ employee['created_at'] }}
                <form action="{{ url_for('web.delete_employee', employee_id=employee['id']) }}" method="post" onsubmit="return confirm('Czy na pewno chcesz usunąć tego pracownika?');">
                    <button type="submit" class="delete-button">Usuń pracownika</button>
                </form>
            </li>
        </ul>
        <form action="{{ url_for('web.list_employees') }}" method="get">
            <button type="submit">Powrót do listy pracowników</button>
        </form>

    </div>


    {% endblock %}