<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Grafik{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
</head>
<body>
    <div class="container"> 
    <header>
        <div class="nav"> 
        <h1><a href="{{ url_for('index') }}">GRAFIK</a></h1>
        <a href="{{ url_for('list_employees') }}">Lista Pracowników</a>
        <a href="{{ url_for('add_month') }}">Dodaj Miesiąc</a>
        </div>
    </header>
    <section class="content">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}
    <p>Witaj w aplikacji Grafik</p>
    {% endblock %}
    </section> 
    </div>
</body>
</html>