{% extends "index.html" %}
{% block title %}ToDo List - Lista pracowników{% endblock %}
    {% block content %}
    <h2>Dodawanie pracowników</h2>
    <form method="post" action="{{ url_for('web.list_employees') }}">
        <label for="name">Imię:</label>
        <input type="text" name="name" id="name" required placeholder="np. Jan">
        <label for="surname">Nazwisko:</label>
        <input type="text" name="surname" id="surname" required placeholder="np. Kowalski">
        <label for="main_position">Główne stanowisko:</label>
        <select name="main_position" id="main_position" required>
            <option value="">Wybierz stanowisko</option>
    {%for position in positions %}
            <option value="{{ position['name'] }}">{{ position['name'] }}</option>
    {% endfor %}
        </select>
        <button type="submit">Dodaj</button>
    </form>
    <h2>Lista pracowników</h2>
{% if employees|length == 0 %}
<h3>Brak pracowników na liście</h3>
{% else %}
    <ul>
        {% for employee in employees %}
            <li class="employee-item">
                <div class="employee-title">
                    <strong>{{ employee["name"] }} {{ employee["surname"] }}</strong>
                    <br>
                    <small>({{ employee['positions'] }})</small>
    
                    <form method="get" action='{{ url_for('web.edit_employee', employee_id=employee['id']) }}' style="display:inline;">
                        <button type="submit">Edytuj</button>
                    </form>
                </div>
                <br>
            </li>
        {% endfor %}
    </ul>
{% endif %}
    {% endblock %}