{% extends "index.html" %}
{% block title %}ToDo List - Lista pracowników{% endblock %}
    {% block content %}
    <h2>Lista pracowników</h2>
{% if employees|length == 0 %}
<h3>Brak pracowników na liście</h3>
{% else %}
    <ul>
        {% for employee in employees %}
            <li class="employee-item">
                <div class="employee-title">
                    <strong>{{ employee["name"] }} {{ employee["surname"] }}</strong>
                    <br>
                    <small>({{ employee['positions']['main_position'] }})</small>
                    {%if employee['positions']['other_positions'] != ['None'] and employee['positions']['other_positions'] != [] %}<small>({{ employee['positions']['other_positions']|join(', ') }})</small>{% endif %}
                    <form method="get" action='{{ url_for('edit_employee', employee_id=employee['id']) }}' style="display:inline;">
                        <button type="submit">Edytuj</button>
                    </form>
                </div>
                <br>
            </li>
        {% endfor %}
    </ul>
{% endif %}
    {% endblock %}