:root {
--body_color: #222831;
--main_color: #393E46;
--text_color: #00ADB5;

}
body{
    background-color: var(--body_color, value);
    color: var(--text_color, value);
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: var(--main_color, value);
    padding: 20px;
    border-radius: 8px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    color: black;
    font-weight: bold;
}
th, td {
    border: 1px solid #000000;
    padding: 10px;
    text-align: center;
}
th.column-date {
    width: 2%;
}

.column-date:hover {
    background-color: #00ADB5;
    color: white;
    cursor: pointer;

}

th.column-weekday {
    width: 8%;
}
tr.weekend {
    background-color: #e26969;
}
th.employee-column {
    background-color: white;
    position: sticky;
    top: 0;
}
th.employee-column:hover {
    background-color: #00ADB5;
    color: white;
    cursor: pointer;
}


.date-row:hover {
    background-color: #00ADB5;
    color: white;
    cursor: pointer;
}





a {
    color: #EEEEEE;
    text-decoration: none;
    margin-right: 15px;
    margin-top: 10px;
    background-color: var(--body_color);
    color: var(--text_color);
    border-radius: 8px;
    padding: 10px;
}
.toggle-table {
  border-collapse: collapse;
  table-layout: fixed;
  height: 50%;
}


.toggle-table td {
  border: 1px solid #ccc;
  padding: 0; 
}


.cell-label {
  display: block;
  cursor: pointer;
  margin: 0;
}


.cell-label input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


.cell-content {
  display: block;
  padding: 20px 30px;
  background-color: #ff0000;
  color: #333;
  text-align: center;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.cell-label:hover .cell-content {
  background-color: #ff8787;
}

.cell-label:hover input[type="checkbox"]:checked ~ .cell-content {
  background-color: #7edf82; 
}

.cell-label input[type="checkbox"] ~ .cell-content {
  background-color: #ff5e00; 
}

.cell-label:hover input[type="checkbox"] ~ .cell-content {
  background-color: #fdad7e; 
}

.cell-label input[type="checkbox"]:checked ~ .cell-content {
  background-color: #4CAF50; 
}

.weekend .cell-label input[type="checkbox"]:checked ~ .cell-content {
  background-color: #045206; 
}

.weekend .cell-label:hover input[type="checkbox"] ~ .cell-content {
  background-color: #9b3900; 
}

.weekend .cell-label input[type="checkbox"] ~ .cell-content {
  background-color: #5f0000; 
}
.weekend .cell-label:hover input[type="checkbox"]:checked ~ .cell-content {
  background-color: #056e09; 
}

form.availability-form {
  display: flex;
  flex-direction:column;
  align-items: center;
}
.submit-table {
  margin-top: 30px;
  margin-bottom: 20px;
  width: 15%;
  height: 5vh;
  padding: auto;
  font-size: 2em;
}


button {
  background-color: var(--text_color);
  color: var(--body_color);
  border: none;
  padding: 5px 20px;
  border-radius: 8px;
  cursor: pointer;
}

button.delete-button {
  background-color: #741414;
  color: white;
  float: right;
}
.employee-details-box {
    background-color: var(--body_color);
    color: var(--text_color);
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    margin: 20px auto;
}